body {
    font-family: 'MontserratV', sans-serif;
    margin-left: 60px;
    margin-right: 60px;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.header {
    font-family: 'Open Sans', sans-serif;
    padding-top: 5px;
    padding-bottom: 67px;

}

.header-logo {
    display: block;
    background-image: url(../images/logo.svg);
    width: 260px;
    height: 90px;
    background-repeat: no-repeat;
}


.header-title {
    margin: 0 -60px;
    padding: 0 60px;
    font-size: 28px; /* Increased text to enable scrolling */
    background-color: #f9f9f9;
}

h1 {
    margin: 0;
    font-weight: 500;
}

h2 {
    font-weight: 500;
    margin-bottom: 25px;
}

.menu-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    border: 3px solid #f3f3f3;
}

.menu-li a {
    display: block;
    color: #000000;
    padding: 8px 16px;
    text-decoration: none;
}

.menu-li {
    text-align: left;
    border-bottom: 3px solid #f3f3f3;
}

li:last-child {
    border-bottom: none;
}


.menu-li a.active {
    background-color: #dd1d4c;
    color: white;
}

.menu-li a:hover:not(.active) {
    background-color: white;
    color: #dd1d4c;
}

.page-wrapper {
    display: flex;
    /*    justify-content: space-between;*/
}

.relay li {
    list-style-type: none;
    display: block;
    margin-bottom: 15px;
}

.relay {
    padding-left: 0;
}

.relay_block_radio {
    display: flex;
    gap: 40px;
}


.relay_number {
    margin-bottom: 10px;
}

.relay_li {
    display: flex;
}

.relay_radio input {


}

.relay_radio input[type='radio']:checked {
    accent-color: #dd1d4c;
}

.content-wrapper {

    margin-right: 12%;
    margin-left: 6%;

}

.content {
    display: grid;
    grid-template-columns: repeat(2, 2fr)
}

.content-start-testing {
    display: flex;
    flex-direction: column
}

.block-testing {
    max-width: 530px;
    margin-bottom: 35px;
    margin-top: 15px;
}


.sub-block {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


.block-parameter {

}

.ST-block-parameter {

}

.block-setting button {

}

.block-info {
    border-left: 2px solid #dd1d4c;
    padding-left: 12px;
    margin-bottom: 40px;
    margin-right: 90px;
}

.blocCP {
    width: 750px;
}

.sub-block:hover {
    color: #dd1d4c;
}

.block-dash {
    /*
    margin-right: 90px;
    */
}

.block-infoSAC {
    width: 400px;
}

.SAC-electricity-meter {
    display: flex;
    gap: 80px;
}

.electricity-meter {
    display: flex;
    justify-content: space-between;
}

.ST-StatusTesting {
    display: flex;
    gap: 5%;
    margin-bottom: 5px;
}

.content-booth {
    grid-template-rows: auto;
}


.input-text {
    display: flex;
    align-items: center;
    gap: 14px;
}

.input-text:hover {
    color: black;
}

.addressStation {
    max-width: 130px;
}

.input-text input[type="text"] {
    background-color: #f2f2f2;
    border-color: transparent;
    outline: none;
    max-width: 130px;
}

.input-text input[type="submit"] {
    background-color: #f2f2f2;
    border-color: transparent;
    outline: none;
    max-width: 31px;
    padding: 0px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
}

.input-text input[type="text"]:focus {
    border: 2px solid #dd1d4c;

}

.block {
    margin: 0px;
}

.block-info input[type="text"] {
    background-color: #f2f2f2;
    border-color: transparent;
    outline: none;
    max-width: 130px;
}

.block-info input[type="submit"] {
    background-color: #f2f2f2;
    border-color: transparent;
    outline: none;
    max-width: 31px;
    padding: 0px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
}

.block-info input[type="text"]:focus {
    border: 2px solid #dd1d4c;
    background-color: white;
}


table, td, th {
    border: 2px solid #dfdfdf;
}

td {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.block-table {
    max-width: 700px;
    border-collapse: collapse;
    margin-bottom: 40px;
}

.block-setting {
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 23px 0px;
}

.block-setting button {
    max-width: 222px;
    height: 60px;
    background-color: transparent;
    border: 1px solid #000000;
    margin: -1px;

}

.block-setting button:hover {
    background-color: #dd1d4c;
    color: white;
    border: none;
}

.content-Setting {
    display: flex;
    flex-flow: column;
}

.textSettingSuccess {
    color: #398909;
}

.textSettingFail {
    color: #dd1d4c;
}

.block-button button {
    background: white;
    cursor: pointer;
    border: solid 1px black;
    margin: 5px;

}

.block-button button:active {
    background: #dd1d4c;
}

.btn-log {
    display: grid;
    justify-items: end;
}

.button-log {
    width: 145px;
    background: white;
    border: solid 1px black;
    cursor: pointer;
    margin-top: 40px;
}

.button-log:active {
    background: #dd1d4c;
}

.MsgFromStand {
    display: grid;
}

.MsgFromStand h2 {
    margin-top: 15px;
    margin-bottom: 20px;
}

.MsgFromStand textarea {
    resize: none;
    border: solid 1px black;
}

.alert {
    margin-top: 145px;
}

.alert ul {
    list-style-type: none;

}