body {
    font-family: 'MontserratV', sans-serif;
    margin-left: 60px;
    margin-right: 60px;
}

.header {
    font-family: 'Open Sans', sans-serif;
    padding-top: 5px;
    padding-bottom: 67px;

}

.header-logo {
    display: block;
    background-image: url(../images/logo.svg);
    width: 260px;
    height: 90px;
    background-repeat: no-repeat;
}


.header-title {
    margin: 0 -60px;
    padding: 0 60px;
    font-size: 28px; /* Increased text to enable scrolling */
    background-color: #f9f9f9;
}

h1 {
    margin: 0;
    font-weight: 500;
}

h2 {
    font-weight: 500;
}

.menu-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    border: 3px solid #f3f3f3;
}

.menu-li a {
    display: block;
    color: #000000;
    padding: 8px 16px;
    text-decoration: none;
}

.menu-li {
    text-align: left;
    border-bottom: 3px solid #f3f3f3;
}

li:last-child {
    border-bottom: none;
}


.menu-li a.active {
    background-color: #dd1d4c;
    color: white;
}

.menu-li a:hover:not(.active) {
    background-color: white;
    color: #dd1d4c;
}

.page-wrapper {
    display: flex;
    justify-content: space-between;
}

.relay li {
    list-style-type: none;
    display: block;
    margin-bottom: 15px;
}

.relay {
    padding-left: 0;
}

.relay_block_radio {
    display: flex;
    gap: 40px;
}


.relay_number {
    margin-bottom: 10px;
}

.relay_li {
    display: flex;
}

.relay_radio {

}
.relay_radio input{

}



.content-wrapper {
    width: calc(100% - 400px);
    padding: 0 30px;
    margin-right: 15%;
    margin-left: 15%;

}

.content {
    display: grid;
    grid-template-columns: repeat(2, 2fr)
}

.content-start-testing {
    display: flex;
}

.block {
    max-width: 430px;

}


.sub-block {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.sub-block:hover {

}


.block-parameter {

}

.block-setting button {

}

.block-info {
    border-left: 2px solid #dd1d4c;
    padding-left: 12px;
    margin-bottom: 40px;
}

.block-dash {
    margin-right: 40px;
}

.electricity-meter {
    display: flex;
    justify-content: space-between;
}

.content-booth {
    grid-template-rows: auto;
}


.input-text {
    display: flex;
    align-items: center;
    gap: 14px;
}

.addressStation {
    max-width: 130px;
}

.input-text input[type="text"] {
    background-color: #f2f2f2;
    border-color: transparent;
    outline: none;
    max-width: 130px;
}

.input-text input[type="submit"] {
    background-color: #f2f2f2;
    border-color: transparent;
    outline: none;
    max-width: 31px;
    padding: 0px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
}

.input-text input[type="text"]:focus {
    border: 2px solid #dd1d4c;

}

.block-info input[type="text"] {
    background-color: #f2f2f2;
    border-color: transparent;
    outline: none;
    max-width: 130px;
}

.block-info input[type="submit"] {
    background-color: #f2f2f2;
    border-color: transparent;
    outline: none;
    max-width: 31px;
    padding: 0px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
}

.block-info input[type="text"]:focus {
    border: 2px solid #dd1d4c;

}


table, td, th {
    border: 1px solid;
}

table {
    width: 120%;
    border-collapse: collapse;
}

.block-setting {
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 23px 0px;
}

.block-setting button {
    max-width: 180px;
    height: 60px;
    background-color: transparent;
    border: 1px solid #000000;
    margin: -1px;

}

.block-setting button:hover {
    background-color: #dd1d4c;
    color: white;
    border: none;
}

.content-Setting {
    display: flex;
    flex-flow: column;
}

.textSettingSuccess {
    color: #398909;
}

.textSettingFail {
    color: #dd1d4c;
}

.block-button{

}