body {
    margin-left: 60px;
    margin-right: 60px;
}

.header {
    font-family: 'Open Sans', sans-serif;
    padding-top: 5px;
    padding-bottom: 25px;

}

.header-logo {
    display: block;
    background-image: url(../images/logo.svg);
    width: 260px;
    height: 90px;
    background-repeat: no-repeat;
}


.header-title {
    margin: 0 -60px;
    padding: 0 60px;
    font-size: 28px; /* Increased text to enable scrolling */
    background-color: #f9f9f9;
}

.menu-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 327px;
    border: 3px solid #f3f3f3;
}

.menu-li a {
    display: block;
    color: #000000;
    padding: 8px 16px;
    text-decoration: none;
}

.menu-li {
    text-align: center;
    border-bottom: 3px solid #f3f3f3;
}

li:last-child {
    border-bottom: none;
}

.menu-li a.active {
    background-color: #dd1d4c;
    color: white;
}

.menu-li a:hover:not(.active) {
    background-color: white;
    color: #dd1d4c;
}

.page-wrapper {
    display: flex;
    justify-content: space-between;
}


.content-wrapper {
    width: calc(100% - 400px);
    padding: 0 30px;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 2fr)
}

.block {
    max-width: 430px;

}

.block-info {
    border-left: 3px solid #dd1d4c;
}

.content-booth {
    grid-template-rows: auto;
}

.inp {
    border: solid 2px gray;
    margin: 20px 5px;
    outline: solid 10px silver;
}

.inp:focus {
    outline: solid 10px red;
}

table, td, th {
    border: 1px solid;
}

table {
    width: 100%;
    border-collapse: collapse;
}